# API
EXPO_PUBLIC_API_URL=https://taphoa-api-dev.onrender.com

# Cloudinary (unsigned upload preset — safe to expose publicly)
EXPO_PUBLIC_CLOUDINARY_CLOUD=doy14nwx0
EXPO_PUBLIC_CLOUDINARY_PRESET=taphoa_unsigned

# Authentication
EXPO_PUBLIC_GOOGLE_WEB_CLIENT_ID=342056556140-vmt8fkfcnmuoko4h00vjbfarh25bpuno.apps.googleusercontent.com
EXPO_PUBLIC_FACEBOOK_APP_ID=
EXPO_PUBLIC_SENTRY_DSN=https://2f59fd345c2eecc9716c752f0022c70b@o4511505941397504.ingest.de.sentry.io/4511505952079952
EXPO_PUBLIC_BANK_CODE=MB
EXPO_PUBLIC_ACCOUNT_NO=0000000001
EXPO_PUBLIC_ACCOUNT_NAME=TAPHOA TEST
EXPO_PUBLIC_BANK_NAME=MB Bank
GOOGLE_MAPS_API_KEY=AIzaSyAOEFTQ6vWv4xv0gGS_atd0igTWRlDigic
